<aside class="gh-sidebar appear" style="--delay: 0">
    <a href="{{@site.url}}" class="gh-sidebar-logo" aria-label="{{@site.title}}">
        {{> "icons/logo"}}
    </a>

    <nav class="gh-sidebar-nav">
        {{#if @custom.portfolio_url}}
            <a href="{{@custom.portfolio_url}}">{{t "My Homepage"}}</a>
        {{/if}}
        <a href="#" class="cmd-palette-trigger">{{t "Search"}}</a>
        <a href="#" id="random-post">{{t "Random article"}}</a>
        <a href="mailto:kontakt@paul-goldschmidt.de">Email</a>
        <a href="https://github.com/paulgoldschmidt">GitHub</a>
        <a href="https://www.instagram.com/_paulgoldschmidt/">Instagram</a>
        <a href="https://www.linkedin.com/in/paul-goldschmidt/">LinkedIn</a>
        <a href="https://twitter.com/pauIgoldschmidt">Twitter/X</a>
        <a href="mailto:presse@paul-goldschmidt.de">{{t "Press Contact"}}</a>
        {{#foreach navigation}}
            <a href="{{url}}">{{label}}</a>
        {{/foreach}}
    </nav>

    {{#if secondary_navigation}}
        <nav class="gh-sidebar-secondary">
            {{#foreach secondary_navigation}}
                <a href="{{url}}">{{label}}</a>
            {{/foreach}}
        </nav>
    {{/if}}

    <nav class="gh-sidebar-legal">
        <a href="https://paul-goldschmidt.de/imprint">{{t "Imprint"}}</a>
        <a href="https://paul-goldschmidt.de/privacy-policy">{{t "Privacy Policy"}}</a>
    </nav>

</aside>
